table {
  width: 100%;
}

td:hover {
  background: none;
}

button {
  text-transform: uppercase;
  background: #607D8B;
  color: white;
}

button:hover {
  color: black;
}

.light-primary {
  background: #CFD8DC;
  color: black;
}

.dark-primary {
  background: #455A64;
}

.uppercase {
  text-transform: uppercase;
}

.button-contained {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}